.RandomeQuote{
    background-color: black;
}
.container{
    background-color: rgb(222, 221, 225);
    align-content: center;
    align-self: center;
    padding: 100px 100px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
    height: 250px;
    width: 250px;
    border-radius: 20px;

    
}

.author{
    text-align: right;
    color:brown;
    align-items: flex-start;
    margin: 0;
    padding: 10px;

}